
/* --- Général --- */
@font-face {
  font-family: "Work_Sans_thin";
  src: url("../font/Work_Sans/WorkSans-Light.ttf");
}

@font-face {
  font-family: "Lato_regular";
  src: url("../font/Lato/Lato-Regular.ttf");
}


/* --- Navigation --- */
#mainNav {
  min-height: 56px;
  background-color: #fff;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #faa132;
  border: 1px solid #faa132;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  color: #161616;
  font-weight: 700;
  padding: .9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: .5rem 0;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  #mainNav .nav-link:active {
    color: white;
  }
  #mainNav.navbar-shrink {
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #161616;
  }
  #mainNav.navbar-shrink .nav-link {
    color: #161616;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #faa132;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #467370;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #faa132;
    outline: none;
    border-bottom: 0.25rem solid #faa132;
  }
}


/* --- Header --- */
.boutureHeader {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  /* background-color: #101010; */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover; 
  background-image: url(/img/webvide-png.jpg);
}

#blog-logo img {
  display: block;
  width: 30%;
  margin: 0 auto;
  line-height: 0;
}

.screenSlide {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 35rem;
  padding: 15rem 0;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.boutureHeader h1 {
  font-family: "Work_Sans_thin";
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.boutureHeader h2 {
  font-family: "Lato_regular";
  max-width: 20rem;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .boutureHeader h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .boutureHeader {
    height: 100vh;
    padding: 0;
  }
  .boutureHeader h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .boutureHeader h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

#participants li {
  font-family: "Lato_regular";
  list-style: none;
  /*color:*/
}


/* --- Sections --- */
section h1 {background-color: #faa132}
section h2, section h3 {color: #faa132}
section p {font-family: "Lato_regular"}

@media (min-width: 992px) {
  section {height: 100vh}
}

.section-title {font-family: "Work_Sans_thin"}
.btn-img-next {
  max-height: 50px;
  transform: rotate(90deg);
  margin-top: 50px
}

section ul {list-style: none}
section ul li:before{
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #faa132; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

#conclusion .h3 {
  margin-top: 50px
}
/* --- About us --- */

/* --- Footer --- */


/* Tom */
.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: 100vh;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/webvide-png.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.masthead h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

ul{
  list-style: inside;
}